# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fontc\OneDrive\hola\DAW (MANACOR)\Programació\Practica 3 Fitxers d'Acces Aleatori\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
